form {
    display: inline;
}
body {
  margin: 0;
  background-image: url('http://cdn.wallpapersafari.com/0/45/lHVKEw.jpg');
  z-index: 3;
}
.jumbotron {
	background-image: url('http://www.hyperprint.fr/hd/backgrounds/image3.jpg');

}