<!-- <h1>HOME PAGE...</h1>
<h1>HELLO WORLD</h1>
 -->
 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body class="container">

 <nav id="header-links">
 	<!-- Here is where all the links to sign up and login will go -->
 </nav>

 <div id="trending-artists">
 	<!-- This section will show you who is currently requesting beats withou needing to be logged in -->
 	<!-- Make this a 3 picture rotating set -->
 </div>

 <div>
 	<!-- OPTIONAL a google map api that shows a preview of where artists -->
 </div>

 </body>
 </html>