<!-- <h1>HOME PAGE...</h1>
<h1>HELLO WORLD</h1>
 -->
 <!DOCTYPE html>
 <html>
 <head>
 	<title>Score Placements</title>
 </head>
 <body>

 <nav id="header-links">
 	<!-- Here is where all the links to sign up and login will go -->
 </nav>

 <h1 class="big-branded-text">Score Placements</h1> 

 <p id="tag-line">Send beats to the artist YOU want to work with</p>

 <div id="trending-artists">
 	<!-- This section will show you who is currently requesting beats withou needing to be logged in -->
 	<!-- Make this a 3 picture rotating set -->
 </div>

 <div>
 	<!-- OPTIONAL a google map api that shows a preview of where artists are currently looking for beats -->
 </div>

 </body>
 </html>